/* Reset and base styles  */

* {
  padding: 0px;
  margin: 0px;
  border: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Links */

a,
a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

/* Common */

aside,
nav,
footer,
header,
section,
main {
  display: block;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-size: inherit;
  font-weight: inherit;
}

ul,
ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

img,
svg {
  max-width: 100%;
  height: auto;
}

address {
  font-style: normal;
}

/* Form */

input,
textarea,
button,
select {
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  background-color: transparent;
}

input::-ms-clear {
  display: none;
}

button,
input[type=submit] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  background: none;
  cursor: pointer;
}

input:focus,
input:active,
button:focus,
button:active {
  outline: none;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

@font-face {
  font-family: TT-Variable;
  src: url("../fonts/TT Firs Text Trial Variable.woff");
}

@font-face {
  font-family: TT-DemiBold;
  src: url("../fonts/TT Firs Text Trial DemiBold.woff");
}

@font-face {
  font-family: TT-Medium;
  src: url("../fonts/TT Firs Text Trial Medium.woff");
}

@font-face {
  font-family: TT-Normal;
  src: url("../fonts/TT Firs Text Trial Normal.woff");
}

.container {
  width: 100%;
  padding: 0 10px;
}

.page__wrapper {
  max-width: 390px;
  width: 100%;
  margin: 0 auto;
  padding-top: 30px;
}

.top__menu--inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.top__menu--icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #EAEAEA;
  cursor: pointer;
}

h1 {
  font-family: TT-DemiBold;
  font-size: 35px;
  line-height: 37px;
  color: #232323;
  margin-bottom: 7px;
}

h2 {
  font-family: TT-Variable;
  font-weight: normal;
  font-size: 17px;
  line-height: 37px;
  color: #232323;
  margin-bottom: 24px;
}

.offer {
  margin-bottom: 50px;
}

.offer--inner {
  position: relative;
}

.offer__info {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  padding-top: 82px;
  padding-left: 15px;
}

.offer__info h3 {
  font-family: TT-DemiBold;
  font-size: 45px;
  line-height: 43px;
  color: #FFFFFF;
  margin-bottom: 16px;
  max-width: 258px;
}

.offer__info p {
  font-family: TT-Normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 19px;
  letter-spacing: 1px;
  color: #FFFFFF;
  max-width: 258px;
}

.offerSlider .swiper-slide {
  background-repeat: no-repeat !important;
  background-size: cover !important;
}

.offerSlider .swiper-slide img {
  border-radius: 30px;
  position: relative;
  width: 100%;
  height: 100%;
}

.offerSlider .swiper-slide::after {
  content: "";
  position: absolute;
  left: 0%;
  right: 0%;
  top: 1.5%;
  bottom: 0%;
  border-radius: 30px;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(9484341b61fdcaace467038da90ba24c.jpg);
  box-shadow: 0px -5px 15px rgba(171, 171, 171, 0.1);
}

.offer__btn__mask {
  position: absolute;
  right: -1px;
  bottom: -5px;
  z-index: 10;
}

.offer__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: #232323;
  position: absolute;
  right: 4px;
  bottom: 10px;
  z-index: 10;
  cursor: pointer;
  transition: all 0.3s ease;
}

.offer__btn:hover {
  transform: rotate(35deg);
}